---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import localKenImage from "../assets//images/KennethStevens.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1 class="text-center text-4xl">
        Welcome to my blog. I'm Ken Stevens! Read all about me on my about page.
      </h1>
      <img
        class="ml-20"
        src={localKenImage.src}
        alt="A picture of me"
        width="350"
        height="350"
      />
    </main>
    <Footer />
  </body>
</html>
